.HomePage{
    .team-grid {
        padding-top: 45px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin-left: 200px;
    }

    .app-name {
        padding-top: 45px;
        font-size: 5rem;
    }
}